<%# <%= render "shared/header" %>

<div class="tweet-show">
  <div class='tweet-boxes'>
    <%# 投稿ゾーン %>
    <div class="tweet-box">
      <%# 投稿の画像ゾーン %>
      <div class="tweet-sub-box">
        <div class="tweet-top-icon">
          <h2 class="title-weg">
            <%= link_to "Weg", root_path, class:'title-icon' %>
          </h2>
          <h2 class="name-title">
            <%= link_to @tweet.user.nickname, root_path, class:'name' %>
          <h2>
        </div>
        <div class='tweet-img-content'>
          <%= image_tag @tweet.image ,class:"tweet-box-img" %>
        </div>
      </div>
      <%#/投稿の画像ゾーン%>
      <%# 投稿の詳細ゾーン %>
      <div class='tweet-details'>
        <div class='three-details'>
          <div class='title-detail'>
            <div class='tweet-title'>
              Title
            </div>
            <div class='title-sentence'>
              <%= @tweet.title %>
            </div>
          </div>
          <div class='information-detail'>
            <h2 class='car-information'>
              Brand ・ Type ・ Model Year
            </h2>
            <h2 class='information-sentence'>
              <%= @tweet.brand[:name] %>・<%= @tweet.type[:name] %>・<%= @tweet.model_year[:name] %>
            </h2>
          </div>
          <div class='caption-detail'>
            <div class='tweet-caption'>
              Caption
            </div>
            <div class='caption-sentence'>
              <%= @tweet.caption %>
            </div>
          </div>
          <div class='tweet-date'>
            <%= l @tweet.created_at %>
          </div>
        </div>
      </div>
      <%#/投稿の詳細ゾーン %>
    </div>
    <%#/投稿ゾーン%>
    <%#コメントゾーン%>
    <div class='comment-box'>
      <div class='comment-sub-box'>
        <%# <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
      </div>
    </div>
    <%#/コメントゾーン%>
  </div>
</div>

<%= render "shared/footer" %>