<%# <%= render "shared/header" %>

<div class="tweet-show">
  <div class='tweet-boxes'>
    <%# æŠ•ç¨¿ã‚¾ãƒ¼ãƒ³ %>
    <div class="tweet-box">
      <%# æŠ•ç¨¿ã®ç”»åƒã‚¾ãƒ¼ãƒ³ %>
      <div class="tweet-sub-box">
        <div class="tweet-top-icon">
          <h2 class="title-weg">
            <%= link_to "Weg", root_path, class:'title-icon' %>
          </h2>
          <h2 class="name-title">
            <%= link_to @tweet.user.nickname, root_path, class:'name' %>
          <h2>
        </div>
        <div class='tweet-img-content'>
          <%= image_tag @tweet.image ,class:"tweet-box-img" %>
          <div class='good-tweet'>
            <div class='good-btn'>
              <div class='good-total'>
                <div id="likes_buttons<%= @tweet.id %>">
                  <%= render partial: 'likes/like', locals: { tweet: @tweet, like: @like } %>
                </div>
              </div>
            </div>
            <div class='setting-btn'>
              <h2 class='set-detail'>
                ðŸš˜
              </h2>
            </div>
          </div>
        </div>
      </div>
      <%#/æŠ•ç¨¿ã®ç”»åƒã‚¾ãƒ¼ãƒ³%>

          <%# ã„ã„ã­æ©Ÿèƒ½ %>
          <%# <div class='good-tweet'>
            <div class='good-btn'>
              <div class='good-total'>
                <% if current_user.already_liked?(@tweet) %>
                  <%# <%= button_to 'ã„ã„ã­ã‚’å–ã‚Šæ¶ˆã™', tweet_like_path(@tweet), method: :delete %>
                <%# <% else %>
                  <%# <%= button_to 'ã„ã„ã­', tweet_likes_path(@tweet) %>
                <%# <% end %>
                <%# <h1 class='good-style'>Good ! : <%= @tweet.likes.count %>
              <%# </div>
              <% @tweet.liked_users.each do |user| %>
                <%# <h2 class='name-style'>
                  <%= user.nickname %>
                <%# </h2>
              <% end %>
            <%# </div>
            <div class='setting-btn'> %>
              <%# <h2 class='set-detail'>
                ...
              </h2> %>
            <%# </div> 
          </div> %>
          <%# /ã„ã„ã­æ©Ÿèƒ½ %>
          <%# <div class='good-tweet'>
            <div class='good-btn'>
              <div class='good-total'> %>
              <%# </div>
            </div>
          </div> %>
        <%# <div id="likes_buttons<%= @tweet.id %>
          <%# <%= render partial: 'likes/like', locals: { tweet: @tweet, like: @like} %>
        <%# </div> %>

      <%# æŠ•ç¨¿ã®è©³ç´°ã‚¾ãƒ¼ãƒ³ %>
      <div class='tweet-details'>
        <div class='three-details'>
          <div class='title-detail'>
            <div class='tweet-title'>
              Title
            </div>
            <div class='title-sentence'>
              <%= @tweet.title %>
            </div>
          </div>
          <div class='information-detail'>
            <h2 class='car-information'>
              Brand ãƒ» Type ãƒ» Model Year
            </h2>
            <h2 class='information-sentence'>
              <%= @tweet.brand[:name] %>ãƒ»<%= @tweet.type[:name] %>ãƒ»<%= @tweet.model_year[:name] %>
            </h2>
          </div>
          <div class='caption-detail'>
            <div class='tweet-caption'>
              Caption
            </div>
            <div class='caption-sentence'>
              <%= @tweet.caption %>
            </div>
          </div>
          <div class='tweet-date'>
            <%= l @tweet.created_at %>
          </div>
        </div>
      </div>
      <%#/æŠ•ç¨¿ã®è©³ç´°ã‚¾ãƒ¼ãƒ³ %>
    </div>
    <%#/æŠ•ç¨¿ã‚¾ãƒ¼ãƒ³%>
    <%#ã‚³ãƒ¡ãƒ³ãƒˆã‚¾ãƒ¼ãƒ³%>
    <div class='comment-box'>
      <div class='comment-sub-box'>
        <%= form_with(model: [@tweet, @comment], local: true) do |form| %>
          <%= form.text_area :text, class:"comment-area", placeholder: "To comment", rows: "2" , wrap: "soft"%>
          <%= form.submit "SEND" , class:"comment-btn"%>
        <% end %>
      </div>
      <div class='comment-index'>
        <h4 class='comment-name'>
          -- Comments --
        </h4>
        <div class='comment-scroller'>
          <% if @comments %>
            <% @comments.each do |comment| %>
              <div class='comment-details'>
                <div class='comment-contents'>
                  <div class='name-top'>
                    <%= link_to comment.user.nickname, "#" , class:'name-index' %>
                  </div>
                  <div class='comment-date'>
                    ~ <%= l comment.created_at%> ~
                  </div>
                </div>
                <div class='comment-text'>
                    <%= comment.text %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <%#/ã‚³ãƒ¡ãƒ³ãƒˆã‚¾ãƒ¼ãƒ³%>
  </div>
</div>

<%= render "shared/footer" %>